
body{
	background-color: #f07a7a;
}
.title{
	font-size: 75px;
	text-align: center;
	padding-top: 50px;
	font-family: 'ZCOOL KuaiLe', cursive;
	margin-bottom: 70px;

}
.selected{
	margin: 0;
	padding:0;
	color: #262626;
	background-image: linear-gradient(to right , #f00,#ff0,#0ff,#0f0,#00f);
	animation: animate 20s linear infinite;
	background-size: 1400%;
	text-decoration: none;
	font-weight: bold;
	display: block;
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 20px;
	border-radius: 20px;
}
@keyframes animate{
	0%{
		background-position: 0% 100%;
	}
	50%{
		background-position: 100% 0%;
	}	
	100%{
		background-position: 0% 100%;
	}
}
*{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.menu{
	font-size: 20px;
	font-family: 'Dancing Script', cursive;
	padding-top: 15px;
	width: 100%;
	height:100px ;
	justify-content: space-around;
    display: flex;
    background-color: white;
}
.main-grid{
	display: grid;
    grid-gap: 10px;
	grid-template-areas:
	"v1 d1"
	"m1 p1"
	"gr1 g1";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    justify-content: center;
}
.v1{
	background-image: url(valera/img/IMG_1724.jpg);
	background-size: cover;
	background-position: center center;
    grid-area:v1 ;
}
.m1 {
	background-image: url(mom/img/IMG_3560.JPG);
	background-size: cover;
	background-position: center center;
    grid-area:m1 ;
}
.main-grid>div{
	background-color: tomato;
	height: 70vh;
}
.d1{
	background-image: url(dasha/img/IMG_3927.jpeg);
	background-size: cover;
	background-position: center center;
	grid-area:d1 ;
}
.g1{
	background-image: url(img/DSC_5651.jpeg);
	background-size: cover;
	background-position: center center;
    grid-area:g1 ;
}
.gr1{
	background-image: url(grey/img/2019-02-10_08-40-56_710.jpeg);
	background-size: cover;
	background-position: center center;
    grid-area:gr1 ;
}
.p1{
	background-image: url(dad/img/2019-04-30_15-47-52_000.jpeg);
	background-size: cover;
	background-position: center center;
	grid-area:p1;
}
a{
	display: block;
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 20px;
	border-radius: 20px;
	border:2px solid black ;
}