body{
	background-color: #1a1c1b;
}
.title{
	color: white;
}
.main-grid{
	display: grid;
    grid-gap: 10px;
	grid-template-areas:
	"v1 d1"
	"m1 p1"
	"gr1 g1";
	background-color: white;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    justify-content: center;
}